.logo {
    height: 5vh;
}

.firstheader {
    display: flex;
      align-items: center;
}

.brodcast {
    width: 8vh;
}

.bellicon {
    width: 5vh;
}

.searchicon {
    height: 5vh;
}

.rightfirstdiv {
    position: absolute;
    right: 0;
    padding: 3vw;

}

.rightfirstdiv img {
padding: 1vw;
}