* {
    margin: 0;
    padding: 0;
}

.header {

height: 20vh;
width: 100%;
}
.main {
box-sizing: border-box;
border: 1px solid black;
height: 70vh;
width: 100%;
}
.bottom {
box-sizing: border-box;
border: 1px solid black;
height: 10vh;
width: 100%;
display: flex;
}

.header1 {

height: 60%;
width: 100%;
display: flex;
}

.header2 {

height: 40%;
width: 100%;
display: flex;
}

.youtubelogo {

height: 100%;
width: 35%;
}
.spacebl {

height: 100%;
width: 30%;
}
.upbuttons {

height: 100%;
width: 35%;
display: flex;
}

.trending {
 
height: 100%;
width: 20%;
}

.sectionsbt {

    height: 100%;
    width: 80%;
display: flex;
overflow-x: scroll;
overflow-y: none;
scrollbar-width: 1vw;

}

.bottombuts {

    height: 100%;
    width: 20%;

}

.upbotton11 {

    height: 100%;
display: flex;
align-items: center;
justify-content: center;
    width: 33.333333333333333333333333333333333333333333333333333333333%;
}

.upbotton11 img {
  
    width: 100%;
}
.youtubelogo img {
  
    width: 100%;
}
.youtubelogo {
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending img {
    height: 100%;
}

.sections {
    background: red;
    margin: 1vw;
    padding: 1vw;
}

.sectionsbt::-webkit-scrollbar {
    display: none;
  }
  