* {
    margin: 0;
    padding: 0;
}

.header {

height: 20vh;
width: 100%;
}
.main {
overflow: scroll;
height: 70vh;
width: 100%;
}
.bottom {
    position: fixed;
    /* border: 1px solid black;
    box-sizing: border-box; */
height: 10vh;
width: 100%;
display: flex;
background-color: white;
}

.header1 {

height: 60%;
width: 100%;
display: flex;
}

.header2 {

height: 40%;
width: 100%;
display: flex;
}

.youtubelogo {

height: 100%;
width: 35%;
}
.spacebl {

height: 100%;
width: 30%;
}
.upbuttons {

height: 100%;
width: 35%;
display: flex;
}

.trending {
 
height: 100%;
width: 20%;
}

.sectionsbt {
    height: 100%;
    width: 80%;
    display: flex;
    overflow-x: scroll;
    overflow-y: auto; /* Add this line */

 
}


.bottombuts {
  /* border: 1px solid black;
  box-sizing: border-box; */
    height: 100%;
    width: 20%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 7vw;
}

.upbotton11 {

    height: 100%;
display: flex;
align-items: center;
justify-content: center;
    width: 33.333333333333333333333333333333333333333333333333333333333%;
}

.upbotton11 img {
  
    width: 100%;
}
.youtubelogo img {
  
    width: 100%;
}
.youtubelogo {
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending img {
    height: 100%;
}

.sections {
    background: #eae4e4;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   width: 20vw;


}

.sectionsbt::-webkit-scrollbar {
    display: none;
  }
.main::-webkit-scrollbar {
    display: none;
  }
  .fiter {
  height: 50%;

  }

  .frames {
    width: 100%;
    height: 28.5vh;
  }

